<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="modal" tabindex="-1">
    <!-- Modal content -->
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="post">
        <div class="modal-header">
          <h5 class="modal-title">Edit Post</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="switchEditModal()"
          ></button>
        </div>
        <div class="modal-body">
          <label for="title">Title</label>
          <div class="mb-3 input-group">
            <input
              class="form-control"
              type="text"
              id="title"
              formControlName="title"
              placeholder="Title of your post"
            />
          </div>
          <label for="content">Content</label>
          <div class="mb-3 input-group">
            <textarea
              class="form-control"
              id="content"
              formControlName="content"
              placeholder="What is on your mind?"
              rows="3"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-wrapper">
            <app-upload
              (selectedFileChange)="onSelectedFileChange($event)"
              [selectedFile]="selectedFile"
            />
            <button type="submit" class="btn btn-primary">Post</button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="switchEditModal()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
