@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  background-color: #666;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
  font-size: 40px !important;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-footer {
  margin-top: auto;
}

.background-blur {
  filter: blur(5px);
}

.has-error .form-control {
  box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.5);
}

.has-error .invalid-feedback {
  display: block;
  color: crimson;
  margin-top: 5px;
  font-size: 0.9em;
}
