@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  background-color: #666;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
  font-size: 40px !important;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex-grow: 1;
}
