<h1
  style="margin-left: 10%; margin-right: 10%; margin-top: 30px"
  class="heading"
>
  {{ title }}
</h1>
<app-loading-spinner *ngIf="movies.length === 0"> </app-loading-spinner>

<div
  style="margin-left: 10%; margin-right: 10%; margin-top: 30px"
  *ngIf="movies.length > 0"
>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div class="slide" ngxSlickItem *ngFor="let movie of movies">
      <div class="card" style="width: 18rem">
        <div class="img-wrapper">
          <img src="{{ movie.image }}" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">
            {{ movie.timeline }} - {{ movie.year }} - {{ movie.rating }}
          </p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
