<div class="upload" [class.file-selected]="selectedFile">
  <label
    for="fileInput"
    class="btn"
    style="background-color: #444; color: white"
    >{{btnText}}</label
  >
  <div class="selected-file-container" *ngIf="selectedFile?.name">
    <div class="p-wrapper">
      <p>{{ selectedFile?.name }}</p>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="removeSelectedFile(fileInput)"
    ></button>
  </div>

  <input
    type="file"
    id="fileInput"
    #fileInput
    (change)="onFileSelected($event)"
    style="display: none"
  />
</div>
