<div class="upload" [class.file-selected]="selectedFile">
  <label for="fileInput" class="btn btn-secondary">Attach Image</label>
  <div class="p-wrapper" *ngIf="selectedFile?.name">
    <p>{{ selectedFile?.name }}</p>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="removeSelectedFile(fileInput)"
    ></button>
  </div>

  <input
    type="file"
    id="fileInput"
    #fileInput
    (change)="onFileSelected($event)"
    style="display: none"
  />
</div>
