<app-edit-modal
  [closeEditModal]="switchShowEdit.bind(this)"
  [data]="dbUser"
  [dataType]="'profile'"
  [editForm]="editForm"
  (messages)="addMessages($event)"
  *ngIf="showEditProfile && editForm"
/>

<div class="profile" [ngClass]="{ 'background-blur': showBlur }">
  <app-loading-spinner *ngIf="!dbUser" />
  <div class="card" style="max-width: 850px" *ngIf="dbUser">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ dbUser.imageUrl }}"
          class="img-fluid profile-photo"
          alt="{{ dbUser.username }}"
        />
      </div>
      <div class="col-md-8" style="padding-left: 2rem">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.6rem">
            {{ dbUser.username }}
          </h5>
          <hr />
          <p
            class="card-text"
            [ngStyle]="{
              'font-style': !dbUser.bio ? 'italic' : 'normal',
              color: !dbUser.bio ? '#bbb' : 'inherit'
            }"
          >
            {{ !dbUser.bio ? "No bio provided." : dbUser.bio }}
          </p>

          <p
            class="card-text"
            [ngStyle]="{
              'font-style': !dbUser.favoriteMovie ? 'italic' : 'normal',
              color: !dbUser.favoriteMovie ? '#bbb' : 'inherit'
            }"
          >
            {{
              !dbUser.favoriteMovie
                ? "No favorite movie provided."
                : "Favorite Movie: " + dbUser.favoriteMovie
            }}
          </p>
          <hr />
          <p class="card-text">Email: {{ dbUser.email }}</p>
          <p class="card-text">
            Registered on: {{ getFormattedDate(dbUser.createdAt) }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="edit-profile">
    <button
      class="btn btn-primary"
      *ngIf="!showEditProfile"
      (click)="switchShowEdit()"
    >
      Edit Profile
    </button>
  </div>
  <app-my-posts [posts]="posts" [isLoadingPosts]="isLoadingPosts" />
</div>
