.profile {
  margin: 3vw 27.5vw;
}

.card {
  padding: 3rem;
  background-color: #333;
  color: white;
  font-size: 1.4rem;
}

.profile-photo {
  height: 14.5rem;
  width: 14.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #bbb;
}

.edit-profile {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.edit-profile button {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
}
