<footer class="footer">
  <div class="footer-content">
    <img src="assets/logo.png" alt="Logo" routerLink="/home" />
    <ul>
      <li><a>Privacy Policy</a></li>
      <li><a>Terms of Service</a></li>
      <li><a>Contact Us</a></li>
    </ul>
  </div>
  <div class="pagination">
    <a routerLink="/home">Home</a>
    <a routerLink="/categories">Categories</a>
    <a routerLink="/posts" *ngIf="user">Posts</a>
    <a routerLink="/login" *ngIf="!user">Login</a>
    <a routerLink="/register" *ngIf="!user">Register</a>
    <a routerLink="/profile" *ngIf="user">Profile</a>
  </div>
</footer>
