.footer {
  display: flex;
  background-color: #333;
  color: white;
  padding: 0 10vw;
  height: 8rem;
  font-size: 1.1rem;
  gap: 7rem;
  justify-content: center;
  margin-top: 5vw;
}

.footer-content {
  display: flex;
}

.footer-content img {
  margin: auto;
  max-width: 70%;
  height: 70%;
  cursor: pointer;
}

.footer-content ul {
  margin-left: 3rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-content li {
  list-style: none;
}

.footer-content a {
  color: white;
  text-decoration: none;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
