<footer class="footer">
  <div class="footer-content">
    <img src="assets/logo.png" alt="Logo" routerLink="/home" />
    <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="pagination">
    <a routerLink="/home">Home</a>
    <a routerLink="/categories">Categories</a>
    <a routerLink="/posts">Categories</a>
    <a routerLink="/login">Categories</a>
    <a routerLink="/register">Categories</a>
  </div>
</footer>
