.details-page {
  margin: 0 30vw 3vw;
  font-size: 1.3rem;
}

.card {
  width: 100%;
  cursor: pointer;
  padding: 0.75rem;
}

.card-title {
  font-size: 1.5rem;
}

.img-wrapper {
  max-width: 12rem;
  max-height: 8rem;
  overflow: hidden;
  margin: auto 0 auto auto;
  border-radius: 7px;
  text-align: center;
}

img {
  object-fit: cover;
}

.user {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}

.user-photo {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
}

.icon-wrapper {
  color: white;
  margin: 1vw;
  margin-left: 30vw;
  width: fit-content;
  cursor: pointer;
}
