<app-small-modal
  *ngIf="showDeleteModalFor"
  [title]="'Delete ' + showDeleteModalFor"
  [text]="'Are you sure you want to delete this ' + showDeleteModalFor + '?'"
  [secondaryBtnText]="'Cancel'"
  [primaryBtnText]="'Delete'"
  [primaryBtnClasses]="'btn btn-danger'"
  [primaryBtnClick]="
    showDeleteModalFor === 'post'
      ? onDeletePost.bind(this)
      : onDeleteComment.bind(this)
  "
  [secondaryBtnClick]="closeDeleteModal.bind(this)"
  [closeBtnClick]="closeDeleteModal.bind(this)"
/>
<app-edit-modal
  [closeEditModal]="closeEditModal.bind(this)"
  [data]="showEditModalFor === 'comment' ? currentComment?.data : post?.data"
  [dataType]="showEditModalFor"
  [editForm]="editForm"
  *ngIf="showEditModalFor && editForm"
  (messages)="addMessages($event)"
/>

<div class="message-wrapper">
  <p-messages
    [(value)]="messages"
    [enableService]="false"
    [closable]="true"
  ></p-messages>
</div>

<div
  class="icon-wrapper"
  routerLink="/posts"
  [ngClass]="{ 'background-blur': showBlur }"
>
  <i-bs
    name="arrow-left"
    class="arrow-left-icon"
    width="3rem"
    height="3rem"
  ></i-bs>
</div>

<app-loading-spinner *ngIf="isLoading" class="loading-spinner" />

<h1
  class="heading"
  *ngIf="!isLoading && post === null && showDeleteModalFor !== 'post'"
>
  Post couldn't load. Try again later.
</h1>

<div
  class="details-page"
  *ngIf="!isLoading && post !== null"
  [ngClass]="{ 'background-blur': showBlur }"
>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <div class="user">
            <img
              src="{{ post.data.userPhoto }}"
              alt="{{ post.data.username }}"
              class="user-photo"
            />
            <p class="card-title">{{ post.data.username }}</p>
          </div>
          <h5 class="card-title">{{ post.data.title }}</h5>
          <p class="card-text">
            {{ post.data.content }}
          </p>
          <p class="card-text">
            <small class="text-body-secondary">{{
              post.data.updatedAt !== ""
                ? "Last updated on " + getFormattedDate(post.data.updatedAt)
                : "Created on " + getFormattedDate(post.data.createdAt)
            }}</small>
          </p>
        </div>
      </div>
      <div class="col-md-4 img-wrapper">
        <img
          src="{{ post.data.attachedPhoto }}"
          class="img-fluid rounded-start"
          alt="{{ post.data.title }}"
          *ngIf="post.data.attachedPhoto"
        />
        <!-- <p style="font-style: italic; color: #666" *ngIf="!post.data.attachedPhoto">
          No photo attached.
        </p> -->
      </div>
    </div>
    <hr />
    <div class="like-btn" *ngIf="post.data.userId !== currentUser?.id">
      <div class="before-like" *ngIf="!hasUserLiked" (click)="onLikeSwitch()">
        <i-bs name="hand-thumbs-up" width="25" height="25"> </i-bs>
        <p>Like ({{ post.likes ? getTotalLikes() : "0" }})</p>
      </div>
      <div class="after-like" *ngIf="hasUserLiked" (click)="onLikeSwitch()">
        <i-bs name="hand-thumbs-up-fill" width="25" height="25"> </i-bs>
        <p>Liked ({{ post.likes ? getTotalLikes() : "0" }})</p>
      </div>
    </div>
    <div
      class="like-edit-delete"
      *ngIf="currentUser !== null && currentUser.id === post.data.userId"
    >
      <div *ngIf="post.data.userId === currentUser?.id">
        <div class="owner-like">
          <i-bs name="hand-thumbs-up-fill" width="25" height="25"> </i-bs>
          <p>Likes ({{ post.likes ? getTotalLikes() : "0" }})</p>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onPostEditClick()"
      >
        Edit
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onPostDeleteClick()"
      >
        Delete
      </button>
    </div>
  </div>
  <app-add-comment [postId]="postId" />
  <app-comment-list
    [comments]="comments"
    (commentDelete)="onCommentDeleteClick($event)"
    (commentEdit)="onCommentEditClick($event)"
  />
</div>
