<div class="create-post">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-3 form-floating">
      <input
        class="form-control"
        type="text"
        id="title"
        name="title"
        placeholder="Title of your post"
        required
        ngModel
      />
      <label for="title" class="form-label">Title of your post</label>
    </div>
    <div class="mb-3 form-floating">
      <textarea
        class="form-control"
        id="content"
        name="content"
        placeholder="What is on your mind?"
        rows="3"
        style="height: 5rem"
        required
        ngModel
      ></textarea>
      <label for="content" class="form-label">What is on your mind?</label>
    </div>
    <div class="btn-wrapper">
      <button
        class="btn btn-secondary"
        type="button"
        style="margin-right: 1rem"
      >
        Attach Image
      </button>
      <button class="btn btn-primary">Post</button>
    </div>
  </form>
</div>
