.create-post {
  margin: 3vw 30vw;
}

.create-post-wrapper {
  display: flex;
  justify-content: center;
}

.btn-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin-bottom: 2px;
}
