<div class="add-comment-btn-wrapper">
  <button
    class="btn btn-primary"
    (click)="switchAddCommentMode()"
    *ngIf="!addCommentMode"
  >
    Add comment
  </button>
</div>
<h1 class="heading" *ngIf="addCommentMode">Add Comment</h1>
<form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="addCommentMode">
  <div class="mb-3 form-floating">
    <textarea
      class="form-control"
      id="comment"
      name="comment"
      placeholder="What is on your mind?"
      rows="3"
      style="height: 7.5rem"
      required
      ngModel
    ></textarea>
    <label for="comment" class="form-label"
      >What do you think about this post?</label
    >
  </div>
  <div class="btn-wrapper">
    <app-upload
      (selectedFileChange)="onSelectedFileChange($event)"
      [selectedFile]="selectedFile"
      [btnText]="'Attach Image'"
    />
    <button class="btn btn-primary">Post</button>
    <button class="btn btn-secondary" (click)="switchAddCommentMode()">
      Cancel
    </button>
  </div>
</form>
