.add-comment-btn-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.heading {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.btn-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin-bottom: 2px;
}

.form-floating {
  position: relative;
}

.form-floating:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 4px;
  background-color: #ffffff;
}

.form-floating textarea.form-control {
  padding-top: 32px;
}

textarea {
  font-size: 1.5rem;
}

.invalid-feedback p {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: white;
  text-align: center;
}
