<div class="message-wrapper">
  <p-messages
    [(value)]="messages"
    [enableService]="false"
    [closable]="true"
  ></p-messages>
</div>

<div class="add-comment-btn-wrapper">
  <button
    class="btn btn-primary"
    (click)="switchAddCommentMode()"
    *ngIf="!addCommentMode"
  >
    Add comment
  </button>
</div>

<h1 class="heading" *ngIf="addCommentMode">Add Comment</h1>
<form [formGroup]="commentForm" (ngSubmit)="onSubmit()" *ngIf="addCommentMode">
  <div
    class="mb-3 form-floating"
    [ngClass]="
      commentForm.get('comment')?.invalid && commentForm.get('comment')?.touched
        ? 'has-error'
        : ''
    "
  >
    <textarea
      class="form-control"
      id="comment"
      formControlName="comment"
      placeholder="What is on your mind?"
      rows="3"
      style="height: 7.5rem"
    ></textarea>
    <label for="comment" class="form-label"
      >What do you think about this post?</label
    >
    <div
      *ngIf="
        commentForm.get('comment')?.invalid &&
        commentForm.get('comment')?.touched
      "
      class="invalid-feedback"
    >
      <p *ngIf="commentForm.get('comment')?.errors?.['required']">
        Comment field is required.
      </p>
      <p *ngIf="commentForm.get('comment')?.errors?.['minlength']">
        Comment has to be at least 6 characters long.
      </p>
    </div>
  </div>
  <div class="btn-wrapper">
    <app-upload
      (selectedFileChange)="onSelectedFileChange($event)"
      [selectedFile]="selectedFile"
      [btnText]="'Attach Image'"
    ></app-upload>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="commentForm.invalid"
    >
      Post
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="switchAddCommentMode()"
    >
      Cancel
    </button>
  </div>
</form>
