<div class="posts-list">
  <h1 class="heading" *ngIf="posts.length > 0">Posts</h1>
  <h2 class="heading" *ngIf="posts.length === 0">No posts yet.</h2>
  <div
    class="card mb-3"
    *ngFor="let post of posts"
    [routerLink]="'/posts/' + post.data.postId"
  >
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <div class="user">
            <img
              src="{{ post.data.userPhoto }}"
              alt="{{ post.data.username }}"
              class="user-photo"
            />
            <p class="card-title">
              {{ post.data.username }}
            </p>
          </div>
          <h5 class="card-title">{{ post.data.title }}</h5>
          <p class="card-text">
            {{ post.data.content }}
          </p>
          <p class="card-text">
            <small class="text-body-secondary">{{
              post.data.updatedAt !== ""
                ? "Last updated on " + getFormattedDate(post.data.updatedAt)
                : "Created on " + getFormattedDate(post.data.createdAt)
            }}</small>
          </p>
        </div>
      </div>
      <div class="col-md-4 img-wrapper">
        <img
          src="{{ post.data.attachedPhoto }}"
          class="img-fluid rounded-start"
          alt="{{ post.data.title }}"
          *ngIf="post.data.attachedPhoto"
        />
      </div>
    </div>
  </div>
</div>
