<div class="header">
  <img src="assets/logo.png" alt="Logo" routerLink="/home" />
  <ul class="nav">
    <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
    <li>
      <a routerLinkActive="active" routerLink="/categories">Categories</a>
    </li>
    <li *ngIf="user">
      <a routerLinkActive="active" routerLink="/posts">Posts</a>
    </li>
    <li *ngIf="!user">
      <a routerLinkActive="active" routerLink="/login">Login</a>
    </li>
    <li *ngIf="!user">
      <a routerLinkActive="active" routerLink="/register">Register</a>
    </li>
    <li *ngIf="user">
      <a routerLinkActive="active" routerLink="/profile/{{ user.id }}"
        >Profile</a
      >
    </li>
    <li *ngIf="user"><a (click)="onLogout()">Logout</a></li>
  </ul>
</div>
