<div class="login-wrapper">
  <div class="login">
    <h1>Login</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="name@example.com"
          required
          email
          ngModel
        />
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          minlength="6"
          ngModel
          required
        />
        <label for="password">Password</label>
      </div>
      <div class="btn-wrapper">
        <button class="btn btn-primary" [disabled]="form.invalid">Login</button>
      </div>

      <p>Haven't registered yet? <a routerLink="/register">To Register</a></p>
    </form>
  </div>
</div>
