.login-wrapper {
  margin: 5vw 10vw;
}

.login {
  width: 30vw;
  margin: 0 auto;
}

h1,
p {
  color: white;
  text-align: center;
  margin: 1vw 0;
}

.btn-wrapper {
  text-align: center;
}

button {
  margin: 1vw 0;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

p > a {
  border-bottom: 1px solid white;
}

p {
  font-size: 1.1rem;
}

input:focus {
  box-shadow: 0 0 0 0.3rem #555;
}

.message-wrapper {
  max-width: fit-content;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  margin: 0 auto;
}

.has-error .form-control {
  box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.5);
}

.has-error .invalid-feedback {
  display: block;
  color: crimson;
  margin-top: 5px;
  font-size: 0.9em;
}

.invalid-feedback p {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: white;
}
