<div class="login-wrapper">
  <div class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div
        class="form-floating mb-3"
        [class.has-error]="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="name@example.com"
          required
        />
        <label for="email">Email address</label>
        <div
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
          class="invalid-feedback"
        >
          <p *ngIf="loginForm.get('email')?.errors?.['required']">
            Email is required.
          </p>
          <p *ngIf="loginForm.get('email')?.errors?.['email']">
            Invalid email format.
          </p>
        </div>
      </div>
      <div
        class="form-floating"
        [class.has-error]="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Password"
          minlength="6"
          required
        />
        <label for="password">Password</label>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          class="invalid-feedback"
        >
          <p *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required.
          </p>
          <p *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Password must be at least 6 characters long.
          </p>
        </div>
      </div>

      <app-loading-spinner *ngIf="isLoading" />

      <div class="btn-wrapper">
        <button
          class="btn btn-primary"
          [disabled]="loginForm.invalid || isLoading"
        >
          Login
        </button>
      </div>

      <p>
        Haven't registered yet? <a routerLink="/auth/register">To Register</a>
      </p>
    </form>
  </div>
</div>
