.posts-list {
  margin: 3vw 30vw;
}

.card {
  width: 100%;
  cursor: pointer;
  padding: 0.75rem;
}

.img-wrapper {
  max-width: 12rem;
  max-height: 8rem;
  overflow: hidden;
  margin: auto 0 auto auto;
  border-radius: 7px;
  text-align: center;
}

img {
  object-fit: cover;
}

.heading {
  color: white;
  text-align: center;
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid white;
}

.user {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}

.user-photo {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
}
