.create-post {
  margin: 3vw 30vw;
}

.create-post-wrapper {
  display: flex;
  justify-content: center;
}

.btn-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin-bottom: 2px;
}

.has-error .form-control {
  box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.5);
}

.has-error .invalid-feedback {
  display: block;
  color: crimson;
  margin-top: 5px;
}

.invalid-feedback p {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: white;
  text-align: center;
}

.message-wrapper {
  max-width: fit-content;
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  margin: 0 auto;
}
