<div class="create-post">
  <div class="create-post-wrapper">
    <button
      class="btn btn-primary"
      (click)="switchShowCreatePost()"
      style="width: 12rem"
      *ngIf="!showCreatePost"
    >
      Create Post
    </button>
  </div>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" *ngIf="showCreatePost">
    <h2 class="heading">Create Post</h2>
    <div
      class="mb-3 input-group"
      [ngClass]="
        postForm.get('title')?.invalid && postForm.get('title')?.touched
          ? 'has-error'
          : ''
      "
    >
      <input
        class="form-control"
        type="text"
        formControlName="title"
        placeholder="Title of your post"
      />
      <div
        *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched"
        class="invalid-feedback"
      >
        <p *ngIf="postForm.get('title')?.errors?.['required']">
          Title field is required.
        </p>
        <p *ngIf="postForm.get('title')?.errors?.['minlength']">
          Title has to be at least 6 characters long.
        </p>
      </div>
    </div>
    <div
      class="mb-3 input-group"
      [ngClass]="
        postForm.get('title')?.invalid && postForm.get('content')?.touched
          ? 'has-error'
          : ''
      "
    >
      <textarea
        class="form-control"
        formControlName="content"
        placeholder="What is on your mind?"
        rows="3"
      ></textarea>
      <div
        *ngIf="
          postForm.get('content')?.invalid && postForm.get('content')?.touched
        "
        class="invalid-feedback"
      >
        <p *ngIf="postForm.get('content')?.errors?.['required']">
          Content field is required.
        </p>
        <p *ngIf="postForm.get('content')?.errors?.['minlength']">
          Content has to be at least 6 characters long.
        </p>
      </div>
    </div>
    <app-loading-spinner *ngIf="isLoading" />

    <div class="btn-wrapper">
      <app-upload
        (selectedFileChange)="onSelectedFileChange($event)"
        [selectedFile]="selectedFile"
        [btnText]="'Attach Image'"
      ></app-upload>
      <button
        class="btn btn-primary"
        [disabled]="postForm.invalid || isLoading"
      >
        Post
      </button>
      <button
        class="btn btn-secondary"
        type="button"
        (click)="switchShowCreatePost()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
