.heading {
  color: white;
  text-align: center;
  font-style: italic;
}

.heading-underline {
  color: white;
  text-align: center;
  padding-bottom: 0.75rem;
  margin: 3rem 0;
  border-bottom: 2px solid white;
}
