<h2 class="heading-underline" style="margin-top: 2rem">
  Comments {{ comments.length === 0 ? "" : "(" + comments.length + ")" }}
</h2>
<h3 class="heading" *ngIf="comments.length === 0">No comments yet.</h3>
<app-comment
  *ngFor="let comment of comments"
  [comment]="comment"
  [currentUser]="currentUser"
  (commentDelete)="emitCommentForDelete($event)"
  (commentEdit)="emitCommentForEdit($event)"
/>

<!-- [emitCommentForDelete]="emitCommentForDelete"
  [emitCommentForEdit]="emitCommentForEdit" -->
